<app-header></app-header>
<div class="container">
    <h1>POLÍTICA DE COOKIES</h1>
    <p class="margin">Utilizamos cookies propias y de terceros para mejorar tu experiencia en nuestra web, analizar el uso y ofrecer contenidos personalizados.</p>

    <h2 class="top">1. ¿Qué es una cookie?</h2>
    <p>Pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas una página.</p>

    <h2 class="top">2. Tipos de Cookies</h2>
    <ul>
      <li><strong>Cookies técnicas:</strong> Imprescindibles para el funcionamiento del sitio.</li>
      <li><strong>Cookies de análisis:</strong> Recopilan información anónima sobre la navegación.</li>
      <li><strong>Cookies de publicidad:</strong> Permiten mostrar anuncios ajustados a tus intereses.</li>
      <li><strong>Cookies de redes sociales:</strong> Facilitan la compartición de contenidos.</li>
    </ul>

    <h2 class="top">3. Gestión y Desactivación</h2>
    <p>Puedes configurar o bloquear las cookies desde tu navegador. Consulta las instrucciones de tu navegador para más detalle.</p>
</div>
<app-footer></app-footer>