<app-header></app-header>

<div class="container">
    <h1>CONTACTO</h1>
    <p>¿Tienes alguna duda o quieres empezar a planificar tu viaje a China? Escríbenos o llámanos:</p>

    <ul>
        <li><strong>Email:</strong><a href="mailto:hola@chinago.com">hola&#64;chinago.com</a></li>
        <li><strong>Teléfono:</strong> <a href="tel:+34910123456">+34 910 123 456</a></li>
        <li><strong>Dirección:</strong> Calle Falsa, 123 – 46005 Valencia, España</li>
    </ul>

</div>

<app-footer></app-footer>