<app-header></app-header>


<div class="container">
    <h1>SOBRE NOSOTROS</h1>
    <p class="margin">Bienvenido a ChinaGo, tu agencia de confianza para descubrir China. Con más de 10 años de experiencia, nuestro equipo de expertos locales diseña rutas únicas, culturales y sostenibles, adaptadas a tus intereses.</p>
    <h2>Nuestra Misión</h2>
    <p>Acercar la riqueza histórica y cultural de China a viajeros de todo el mundo, ofreciendo experiencias auténticas, confort y el mejor servicio en cada etapa de tu viaje.</p>
    <h2 class="top">Valores</h2>
    <ul>
      <li><strong>Calidad:</strong> Selección rigurosa de alojamientos y proveedores.</li>
      <li><strong>Sostenibilidad:</strong> Turismo responsable, apoyando comunidades locales.</li>
      <li><strong>Innovación:</strong> Itinerarios personalizados y soporte 24/7.</li>
      <li><strong>Pasión:</strong> Amamos lo que hacemos y queremos compartirlo contigo.</li>
    </ul>
</div>


<app-footer></app-footer>