<footer class="footer">
    <ul class="legal">
        <li><a routerLink="/sobre-nosotros">Sobre Nosotros</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
        <li><a routerLink="/politica-privacidad">Política de Privacidad</a></li>
        <li><a routerLink="/politica-cookies">Política de Cookies</a></li>
        <li><a routerLink="/aviso-legal">Aviso legal</a></li>
    </ul>
    <div class="info-footer">
        <ul class="redes-sociales">
            <li><a href="#" title="Twitter" (click)="$event.preventDefault()"><img src="/assets/icons/twitter.svg" alt="logo Twitter"></a>
            </li>
            <li><a href="#" title="Instagram" (click)="$event.preventDefault()"><img src="/assets/icons/instagram.svg"
                        alt="logo Instagram"></a></li>
            <li><a href="#" title="Twitter" (click)="$event.preventDefault()"><img src="/assets/icons/youtube.svg" alt="logo Youtube"></a>
            </li>
        </ul>

        <p class="copyright">2025 &copy; HUIMIN TAO</p>

    </div>
</footer>
